@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #eab308;
  color: aliceblue;
}

@layer base {
  :root{
    --background: 0, 0%, 8%;
    --foreground: 0, 0%, 98%;

    --background-secondary: 0, 0%, 11%;
    --foreground-secondary: 0, 0%, 100%;

    --card: 220, 56%, 6%;
    --card-active: 232, 27%, 16%;
    --card-foreground: 0, 0%, 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0, 0%, 14%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 35%;
    --input: 0, 0%, 11%;
    --ring: 212.7 26.8% 83.9%;
  }
  
  /* :root {
    --background: 0 0% 100%;
    --foreground: 225, 60%, 4%;

    --background-secondary: 72, 24%, 96%;
    --foreground-secondary: 225, 60%, 4%;

    --border-active: 208, 99%, 63%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 230, 11%, 89%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --gradient-primary: 264.56, #38aeff 22.41%, #fa23f5 99.18%;
    --gradient-primary-foreground: 0, 0%, 100%;

    --space: 1rem;

    --light: 0 0% 100%;
    --light-foreground: 206, 9%, 15%, 1;
    --light-accent: 210 40% 96.1%;
    --light-accent-foreground: 222.2 47.4% 11.2%;

    --dark: 225, 60%, 4%;
    --dark-foreground: 0, 0%, 98%;
    --dark-accent: 0, 0%, 14%;
    --dark-accent-foreground: 210 40% 98%;

    --primary: 73, 79%, 56%;
    --primary-foreground: 0 0% 8%;

    --secondary: 73, 87%, 59%;
    --secondary-foreground: 0 0% 100%;

    --tertiary: 204, 99%, 61%;
    --tertiary-foreground: 0 0% 100%;

    --vibrant: 204, 100%, 61%;
    --vibrant-foreground: 225, 60%, 4%;
    --vibrant-secondary: 301, 96%, 56%;
    --vibrant-secondary-foreground: 225, 60%, 4%;
  } */

  /* .dark {
    --background: 0, 0%, 8%;
    --foreground: 0, 0%, 98%;

    --background-secondary: 0, 0%, 11%;
    --foreground-secondary: 0, 0%, 100%;

    --card: 220, 56%, 6%;
    --card-active: 232, 27%, 16%;
    --card-foreground: 0, 0%, 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0, 0%, 14%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 35%;
    --input: 0, 0%, 11%;
    --ring: 212.7 26.8% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* =================== GRADIENTS */
.gradient-primary {
  background: linear-gradient(180deg, #ecf15e 0%, #d6dd13 100%);
}

/* ==========================>TYPOGRAPGHY */
.gradient-text {
  background: linear-gradient(264.56deg, #38aeff 22.41%, #fa23f5 99.18%);
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

